/* RegistrationPage.css */

.registration-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
}

.registration-title {
  animation: fadeIn 5s ease forwards;
  font-family: 'Kode Mono', monospace;
  font-size: 48px;
  color: #15F5BA;
  margin-bottom: 0.5rem;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.registration-slogan {
  font-family: 'Kode Mono', monospace;
  font-size: 16px;
  color: #15F5BA;
  white-space: nowrap; /* Metnin aynı satırda kalmasını sağlar */
  overflow: hidden; /* Metnin kutunun dışına taşmasını engeller */
  /* 40 adımda 2 saniye içinde yazma efekti ve yanıp sönme efekti */
}

.registration-form {
  background: white;
  padding: 3rem; /* İç boşluğu artırarak form boyutunu büyütün */
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Gölgeyi daha belirgin yapın */
  width: 90%; /* Formun genişliğini % olarak belirleyin */
  max-width: 500px; /* Maksimum genişliği belirleyin */
  opacity: 0; /* Başlangıçta form görünmez olacak */
  transform: translateY(20px); /* Formu yukarıdan aşağıya doğru hareket ettirin */
  animation: fadeInForm 1s ease forwards 0.5s; /* 0.5 saniye sonra belirme */
  transition: transform 1s, opacity 1s; /* Geçiş efektleri */
}

@keyframes fadeInForm {
  to {
    opacity: 1;
    transform: translateY(0);
  }
} 

.registration-form h1 {
  animation: fadeIn 5s ease forwards;
  font-family: 'Kode Mono', monospace;
  font-size: 48px;
  color: #333;
  margin-bottom: 0.5rem;
}

.registration-form p {
  font-size: 14px;
  color: #666;
}

.registration-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.register-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #28a729; /* Customize with your own color */
  color: white;
  cursor: pointer;
  font-size: 16px;
  }
  
  .register-btn:hover {
  background-color: #217a20; /* Darken the color slightly on hover */
  }
  
  .login-link {
  text-align: center;
  margin-top: 1rem;
  font-size: 14px;
  color: #666;
  }
  
  .login-link a {
  color: #007bff;
  text-decoration: none;
  }
  
  .login-link a:hover {
  text-decoration: underline;
  }
